<div class="container">
    <div>
        <h2 class="m-4">依頼詳細</h2>
        <div class="row justify-content-center">
            <table class="table table-bordered col-10 mx-auto">
                <tr>
                    <td class="table-active" style="width:30%">依頼人</td>
                    <td style="width:70%">
                        <%= link_to user_path(@request.user_id) do %>
                            <%= @request.user.user_name %>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td class="table-active" style="width:30%">タイトル</td>
                    <td style="width:70%"><%= @request.title %></td>
                </tr>
                <tr>
                    <td class="table-active" style="width:30%">エリア</td>
                    <td style="width:70%"><%= @request.area.prefectures %></td>
                </tr>
                <tr >
                    <td class="table-active" style="width:30%">依頼内容</td>
                    <td style="width:70%"><%= @request.request_sentence %></td>
                </tr>
                <tr>
                    <td class="table-active" style="width:30%" valign="top">依頼状況</td>
                    <td style="width:70%">
                        <% if @request.is_active == false %>
                            <div class="text-success font-weight-bold"><%= "依頼中" %></div>
                    　  <% else %>
                            <div class="text-secondary font-weight-bold"><%= "完了済み" %></div>
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center">
        <% if @request.is_active == false %>
            <div  class="mt-2 mb-4">
                <% if @request.user == current_user %>
                    <%= link_to "　編集／依頼完了　", edit_request_path(@request.id), class:"btn btn-success font-weight-bold mr-2" %>
                    <%= link_to "　削除　", request_path(@request.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger font-weight-bold ml-2" %>
                <% else  %>
                    <%= link_to "　報告する　", new_request_report_path(@request), class:"btn btn-success font-weight-bold" %>
                <% end %>
            </div>
        <% end %>
        </div>
    </div>
    
    <div>
    <h2 class="m-4">報告一覧</h2>
    <div class="row justify-content-center">
        <% @reports.each do |report| %>
            <div class="col-10 col-offset-1 mx-auto mb-3">
                <div class="card p-3">
                    <div class="row m-1">
                        <div class="card-user">
                            <%= link_to user_path(report.user_id) do %>
                                <%= report.user.user_name %>
                            <% end %>
                        </div>
                        <% if @request.is_active == false %>
                            <div class="icon ml-auto">
                                <% if report.user == current_user %>
                                    <div>
                                        <%= link_to "編集", edit_request_report_path(@request.id, report.id), "data-confirm" => "更新してよろしいですか？", class:"btn btn-sm btn-success mr-1" %>
                                        <%= link_to "削除", request_report_path(@request.id, report.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger ml-1" %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <div class="row card-img d-flex flex-row mx-auto">
                        <% report.report_images.each do |report_image| %>
                           <div><%= image_tag report_image, class:"m-1", :size => '210x200' %></div>
                        <% end %>
                    </div>
                    <div class="card-sentence">
                        <div class="border rounded m-3 p-3 bg-light"><%= report.report_sentence %></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>