<div class="container">
  <h2 class="m-4">新規会員登録</h2>
  <div class="justify-content-center">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="row form_group text-center p-1">
        <%= f.label :"ユーザーネーム", class:"col-md-4" %>
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class:"col-md-5", placeholder: "２〜２０字以内" %>
      </div>
    
      <div class="row form_group text-center p-1">
        <%= f.label :"メールアドレス", class:"col-md-4" %>
        <%= f.email_field :email, autocomplete: "email", class:"col-md-5" %>
      </div>
    
      <div class="row form_group text-center p-1">
        <%= f.label :"パスワード", class:"col-md-4" %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "password", class:"col-md-5" %>
      </div>
    
      <div class="row form_group text-center p-1">
        <%= f.label :"パスワード（確認用）", class:"col-md-4" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-md-5" %>
      </div>
    
      <div class="row actions mt-3">
        <div class="col-md-5 text-md-start"></div>
        <div class="password_confirmation col-md-7">
          <%= f.submit "　新規登録　", class:'btn btn-success font-weight-bold'  %>
        </div>
      </div>
    <% end %>
  </div>
</div>