<div class="container">
    <div class="row">
        <h2 class="my-4">フォロワー一覧</h2>
    </div>
    <div class="row">
        <table class="table col-md-8 mx-auto text-center">
            <tbody>
            <% @users.each do |user| %>
                <% next if user.is_deleted == true %><!--退会済みのユーザーを飛ばしてeachを実行-->
                <tr>
                    <td class="align-middle">
                        <%= link_to user_path(user) do %>
                            <div>
                                <%= image_tag user.get_profile_image(70,70), style: "border-radius: 50%" %>
                                <%= user.user_name %>
                            </div>
                        <% end %>
                    </td>
                    <td class="justify-content-end">
                        <% if user_signed_in? %>
                            <% if user != current_user %>
                                <% if user.is_followed_by?(current_user) %>
                                    <div class="m-4 ml-auto">
                                        <%= link_to user_relationships_path(user), method: :delete do %>
                                            <button class="btn btn-sm btn-danger">フォロー解除</button>
                                        <% end %>
                                    </div>
                                <% else %>
                                    <div class="m-4 ml-auto">
                                        <%= link_to user_relationships_path(user), method: :post do %>
                                            <button class="btn btn-sm btn-primary">フォロー</button>
                                        <% end %>
                                    </div>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>