<div class="container">
    <div class="row">
        <h2 class="m-4">ユーザーページ</h2>
        <% if user_signed_in? %>
            <% if @user == current_user %>
                <div class="m-4 ml-auto">
                    <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
                        <i class="fas fa-user-cog"></i>
                    <% end %>
                </div>
            <% else %>
                <% if @user.is_followed_by?(current_user) %>
                    <div class="m-4 ml-auto">
                        <%= link_to user_relationships_path(@user), method: :delete do %>
                            <button class="btn btn-danger">フォロー解除</button>
                        <% end %>
                    </div>
                <% else %>
                    <div class="m-4 ml-auto">
                        <%= link_to user_relationships_path(@user), method: :post do %>
                            <button class="btn btn-primary">フォロー</button>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <div class="row">
        <div class="m-4 mx-auto">
            <%= image_tag @user.get_profile_image(150,150), style: "border-radius: 50%" %>
        </div>
    </div>
    
    <div class="row mb-5 justify-content-center">
        <p class="text-small"><%= link_to @user.followings.where.not(is_deleted: true).count, followings_user_path(@user) %>フォロー　<%= link_to @user.followers.where.not(is_deleted: true).count, followers_user_path(@user) %>フォロワー</p>
    </div>
    
    <div class="row mt-4 mb-2 justify-content-center">
        <div class="mr-5">
            <%= link_to request_likes_user_path(@user) do %>
                <i class="fas fa-solid fa-heart"></i>
                お気に入り依頼
            <% end %>
        </div>
        <div class="ml-5">
            <%= link_to report_likes_user_path(@user) do %>
                <i class="fas fa-solid fa-heart"></i>
                お気に入り報告
            <% end %>
        </div>
    </div>
    
    <div class="row">
        <div class="mx-auto col-md-8 col_md-offset-4">
            <table class="table">
                <tbody>
                    <tr>
                	    <td style="width:10%">
                	        <i class="fas fa-solid fa-user"></i>
                	    </td>
                	    <td style="width:90%"><%= @user.user_name %></td>
                    </tr>
                    <tr>
                	    <td style="width:10%">
                	        <i class="fas fa-solid fa-comment"></i>
                	    </td>
                	    <td style="width:90%"><%= @user.self_introduction %></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row justify-content-center mt-5">
        <div class="row">
            <div class="mr-5">
                <%= link_to "　依頼履歴へ　", user_requests_user_path, class: "mb-3 btn btn-primary font-weight-bold" %>
            </div>
            <div class="ml-5">
                <%= link_to "　報告履歴へ　", user_reports_user_path, class: "mb-3 btn btn-primary font-weight-bold" %>
            </div>
        </div>
    </div>
</div>